<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rafalmanka.example">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".example1.DateActivity"
            android:parentActivityName=".NavigationActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".example2.RangeActivity"
            android:parentActivityName=".NavigationActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".example3.DefaultAdapterActivity"
            android:label="@string/title_default_adapter"
            android:parentActivityName=".NavigationActivity"
            android:theme="@style/AppTheme.NoTheme"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".example4.DefaultRangeAdapterActivity"
            android:label="@string/title_activity_default_adapter_range"
            android:parentActivityName=".NavigationActivity"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".example5.RedLayoutActivity"
            android:label="@string/title_activity_red_layout"
            android:parentActivityName=".NavigationActivity"
            android:theme="@style/AppThemeRed"
            tools:ignore="UnusedAttribute" />
    </application>

</manifest>